/* DM Sans */
.body-accent {
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.large-body-text-bold {
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: white;
}

.large-body-text {
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #8f8f8f;
}

.body {
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #8f8f8f;
}

/* DM Mono */
.title-1 {
  font-family: "DM Mono", monospace;
  font-size: 22px;
  color: white;
}

