@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');
@import "tailwindcss";

/* DM Sans */
.body-accent {
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.large-body-text-bold {
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.large-body-text {
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.body {
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

/* DM Mono */
.title-1 {
  font-family: "DM Mono", monospace;
  font-size: 22px;
}

